<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
	'db' => array(
		//'dsn'      => 'pgsql:host=localhost;dbname=selkie',
		//'username' => '',
		//'password' => '',
	),

	'ldap' => array(
		'host'              => 'ldap.example.net',
		'baseDn'            => 'ou=people,dc=example,dc=net',
		'accountDomainName' => 'example.net',

		'groupDn'    => 'ou=group,dc=example,dc=net',
		//'adminGroup' => '',
		//'userGroup'  => '',
	),

	'pfsense' => array(
		'url' => 'https://pfsense.example.net/cp.php',
		'key' => 'password',
	),

	'jasper' => array(
		'url'      => 'http://jasper.example.net',
		'username' => 'user',
		'password' => 'password',

		'format'   => '', // @todo
		'report'   => '', // @todo
	),
);
